body {
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal {
    background-color: rgb(221, 221, 221);
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

header, footer {
    background-color: white;
    border: 1px solid gray;
    height: 100px;
    margin: 10px;
}

header {
    display: flex;
}

.foto, .nombre, .icono, .boton-cerrar {
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto, .icono {
    width: 100px;
}

.nombre {
    flex-grow: 1;
}

main {
    background-color: white;
    border: 1px solid gray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 0 10px;
}

.datos {
    border: 1px solid gray;
    flex-grow: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
}