body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.encabezado {
    background-color: #FFC9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.contenido-pagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 4;
}

.articulo-derecha {
    background-color: #FF99FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.contenido-principal {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

.pie-de-pagina {
    background-color: #CB87F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}