.caja-principal {
    border-style: dotted;
    border-width: 2px;
    border-color: grey;
    height: 300px;
    
    justify-content: center;
}

.caja-secundaria {
    background-color: #E8AEB7;
    display: center;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    justify-content: space-between;
    padding: 5px;
    display: flex;


}

.cuadrado-1 {
    background: #B8E1FF;
    width: 230px;
    height: 230px;
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circulo {
    background: #A9FFF7;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cuadrado-2 {
        background: #94FBAB;
        width: 230px;
        height: 230px;
        display: inline-flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

