body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.encabezado {
    background-color: #FFC9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.contenido-principal {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 8 ;
}

.pie-de-pagina {
    background-color: #CB87F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1 ;
}


