body {
    background-color: #EAE7FB;
}

.contenedor {
    background-color: white;
    margin: auto;
    width: 340px;
    border-radius: 15px;
    box-shadow: rgba(145, 125, 189, 0.35) 0px 5px 15px;
    padding: 80px;
    text-align: center;
}

.titulo-donacion {
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
}

p {
    color: #8D8BA9;
}

.donaciones {
    margin-top: 50px;
}

.boton {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 2px;
    border: 1px solid rgb(240, 240, 240);
    padding: 15px 23px;
    border-radius: 4px;
}

.other {
    padding: 15px 15px;
}

.seleccion {
    background-color: #7563F6;
    color: white;
}

.largo {
    margin-top: 20px;
    width: 290px;
}