body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icono {
    max-width: 25px;
    background-color: #6875F5;
    padding: 10px;
    border-radius: 5px;
}

.encabezado {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.servicios-titulo {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.descripcion {
    font-size: 13px;
    font-weight: 300;
    color: gray;
}

.servicios-ofrecidos {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.contenedor {
    margin: 20px;
}

.servicio-2 {
    display: flex;
    justify-content: space-between;
    
}

.servicio {
    font-size: 20px;
}

.imagen {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
}