body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(110, 184, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

#contenedor-progreso {
    width: 100px;
    height: 20px;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    border-radius: 30px;
    overflow: hidden;
}

#progreso {
    background-color: green;
    width: 0px;
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(158, 158, 219);
    color: white;
    cursor: pointer;
    margin: 5px 3px;
}

button:active {
    background-color: rgb(184, 184, 215);
}